html, body {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
   	height: 100vh;
		}
.front .img {
	width: 90%;
	height: auto;
	object-fit: cover;
    margin:0 auto;
	padding: 1em;
	position: relative;
	background-image: url(images/fall_small.jpg);
	border-radius: 15px;
}
.container {
	position: relative;
	width: 100%; 
	height: 100vh;
	max-width: 1000px;
    margin: 0 auto;
    display: flex;
	justify-content:center;
	align-items: center;
        
}

.card {
	position: absolute;
	width: 100%;
	max-width: 800px;
	height: 600px;
	transform-style: preserve-3d;
	transition: all 1.5s ease;
    text-align: center;    
}

.card:hover {
	transform: rotateY(180deg);
}
.front {
	position: absolute;
	padding: 2em;
	margin: 0 auto; 
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	background: #ebc034;
  	border-radius: 15px;
	backface-visibility: hidden;
	z-index: 99;
}

.back {
	position: absolute;
	padding: 2em;
	margin: 0 auto; 
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	background:#ebc034;
    border: none;
    border-radius: 15px;
	color: #333;
	backface-visibility: hidden;
	transform: rotateY(180deg);
}

h1, p {
	letter-spacing: 1px;
	line-height: 1.5;
}

h1 {
	text-transform: uppercase;
	font-size: 3rem;
	font-weight: 400;
}
.front h1{
	position: absolute;
	font-size: 4rem;
	color: #333;
	padding: 2em;
	font-weight: 500;
	background: rgba(235, 192, 52, 0.3);
}


.back h1{
    color: #333;
}

p {
	font-size: 1.25rem;
	padding: 2em;
}

span {
	font-size: 1rem;
}